<% provide(:title, 'About Us') %>
<div class="center row">
  <div class="small-12 large-12columns"><%= image_tag("tour_of_tauranga_logo_1000.gif", alt: "BOPMS") %></div>
</div>
<div class="center row">
  <div class="small-12 large-12columns"><h22>The Tour of Tauranga is an annual event to raise funds for <a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</a></h22><br><br>
  <left><h22>For all enquiries, please contact:</h22></left></div>
</div>
<br>
<div class="row">
  <div class="small-4 large-2columns"></div>
  <div class="small-8 large-10columns"><h22><left><address>
	<strong>BOP MS SOCIETY</strong><br>
    55a Edgecumb Road<br>
    PO Box 15309<br>
	TAURANGA 3114<br>
	Office - (07)571 6898<br><br>
	<strong>EVENT CO-ORDINATORS</strong><br>
	Rachelle - 021 255 2733<br>
	Pat - 021 482 643<br>
	Email: <a href="mailto:touroftauranga@gmail.com">touroftauranga@gmail.com</a></left></address></h22>
  </div>
</div>
<br>
<div class="center row">
  <div class="small-12 large-12columns"><h22>Website by Greg Standring <a href="mailto:standringg@gmail.com">standringg@gmail.com</a><br> Many thanks to <a href="http://littlegiant.co.nz/">Little Giant</a> Digital Design for graphics used on this site.</h22></div>
  <br>
  <br>
</div>
