<% provide(:title, 'Course') %>
<div class="center row">
	<br>
  <div class="small-12 large-12columns"><h21>Tour of Tauranga Course</h21></div><br>
</div>
<div class="center row">
  <div class="small-12 large-12columns"><center><%= image_tag("route-map.gif", alt: "Tour of Tauranga Route Map")%></center></div>
</div>
<br>
<br>

 