<div class="center row">
  <br><br><div class="small-2 large-2 columns"></div>
  <div class="small-7 large-7 columns">
    <right><h21>Edit product</h21></right>
    <br>
    <br>
    <br>
  </div>
  <div class="small-3 large-3 columns"><left></left>
  </div>
</div>
<div class="center row">
  <div class="small-2 large-2 columns"></div>
  <div class="small-8 large-8 columns">
   <%= render 'form' %> 
  </div>
  <div class="small-2 large-2 columns"><%= link_to 'Back', products_path %></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>


